<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.race.planner">

    <!-- Permissions necessary for Calendar Content Provider -->
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>

    <!--  -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.ryan.race.planner.com.race.planner.SelectTrainingPlan"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.ryan.race.planner.com.race.planner.GenerateTrainingPlan"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.ryan.race.planner.com.race.planner.AuthenticateCalendarAPI"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name="com.ryan.race.planner.com.race.planner.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.ryan.race.planner.com.race.planner.ListTrainingPlans">
        </activity>

    </application>

</manifest>